{% extends "layout.html" %}


{% block style %}
	<!-- style -->
<style type="text/css">

*{
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-style: bold;
	box-sizing: border-box;
}

section{
    display:flex;
    flex-direction:column;
    padding: 3px 200px;
    margin: 35px;
    height:300px;
    align-items: center;
} 

body::before{content: "";
    position: absolute;
    background:url("{{url_for('static',filename='1.jpg')}}") no-repeat center center/cover;
    height: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index:-1;
    opacity: 0.85;
}
/* 
section{
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #112d42;
}

section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03a9f4;

} */

section .ci{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

section .ci .contact{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    /* background: #0f3959; */
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

section .ci .contact h2{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

section .ci .contact .info{
    position: relative;
    margin: 2 0px 0;
}

section .ci .contact .info li{
    position: relative;
    font-weight: 700;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

section .ci .contact .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}

section .ci .contact .info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

section .ci .contact .info li span:nth-child(2){
    color: white;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.7;
}

section .ci .contact .info li:hover span:nth-child(1) img,
section .ci .contact .info li:hover span:nth-child(2)
{
    opacity: 2;
}

section .ci .contact .social{
    position: relative;
    display: flex;
    margin-top: 80px;
}

section .ci .contact .social li{
    list-style: none;
    margin-right: 15px;
}

section .ci .contact .social li a{
    text-decoration: none;
}

section .ci .contact .social li a img{
    filter: invert(1);
    opacity: 0.5;
}

section .ci .contact .social li:hover a img{
    opacity: 1;
}

section .ci .form{
    position: absolute;
    padding: 70px 50px;
    /* background: #fff; */
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

section .ci .form h2{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin: -20px;
    margin-bottom: 30px;
    padding-left: 48px;
}

section .ci .form .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
    padding: 30px 30px 30px 40px;
}

section .ci .form .formBox .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}

section .ci .form .formBox .inputBox.w50{
    width: 47%;
}

section .ci .form .formBox .inputBox.w100{
    width: 100%;
}

section .ci .form .formBox .inputBox input,
section .ci .form .formBox .inputBox textarea
{
    background: none;
    width: 100% !important;
    padding:  26px 10px 0 5px;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: rgb(112, 242, 247);
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

section .ci .form .formBox .inputBox textarea{
    min-height: 120px;
}

section .ci .form .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    transition: 0.3s;
    pointer-events: none;
}

btn1{
    position: relative;
    cursor: pointer;
    background: silver;
    color: #000;
    border: none;
	text-align: center;
	font-size: 16px;
	border-radius: 10px;
	border: 2px;
	padding: 10px 25px;
	outline: none;
	cursor: pointer;
	transition: 0.25px;
}

btn1:hover{
	background-color: black;
	color: white;
}

.mssg{
	color: black;
	margin-top: 10px;
}

</style>
{% endblock %}

{% block content %}
<section>
    <div class="ci">
        <div class="contact">
            <div>
                <h2>Contact Us</h2>
                <ul class="info">
                    <li>
                        <span><img src="https://img.icons8.com/ios/100/000000/place-marker--v1.png"/></span>
                        <span>1687 E-Ward, Near RBL Bank, 9th lane, Rajaramouri, Kolhapur 416008.
                        </span>
                    </li>
                    <li><span><img src="https://img.icons8.com/ios/30/000000/email-open.png"/></span>
                        <span>
                            vn.entertainment.kop@gmail.com
                        </span>
                    </li>
                    <li><span><img src="https://img.icons8.com/ios/40/000000/ringer-volume.png"/></span>
                        <span>
                            7248940809
                        </span>
                    </li>
                </ul>
            </div>
            <ul class="social">
                <li><a href="#"><img src="https://img.icons8.com/ios/50/000000/facebook-f.png"/></a></li>
                <li><a href="#"><img src="https://img.icons8.com/ios/50/000000/instagram-new.png"/></a></li>
                <li><a href="#"><img src="https://img.icons8.com/ios/50/000000/youtube--v1.png"/></a></li>
            </ul>
        </div>
    <form action="{{url_for('contact')}}" method="POST" >
        <div class="mssg">{{msg}}</div>
        <div class="form">
            <h2>Send a Message</h2>
            <div class="formBox">
                <div class="inputBox w50">
                    <input type="firstname" name="firstname" required>
                    <span>First Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="lastname" name="lastname" required>
                    <span>Last Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="email" name="email" required>
                    <span>Email Address</span>
                </div>
                <div class="inputBox w50">
                    <input type="number" name="number" required>
                    <span>Mobile Number</span>
                </div>
                <div class="inputBox w100">
                    <textarea type="message" name="message" required></textarea>
                    <span>Write your message here...</span>
                </div>
                <button class="btn1" type="sumbit" value="sumbit">Sumbit</button>
            </div>
        </div>
    </form>
    </div>
</section>  
{% endblock %}