{% extends "layout2.html" %}

{% block style %}
	<!-- style -->
<style type="text/css">

</style>
{% endblock %}

{% block content %}
<div id="main-page-content">
            <div class="container-fluid">

                {% block body %}
                <div class="container">
                    <div class="row">
                        <div class="col md-12" style="width: 88%;">
<button type="button" class="btn btn-success" data-toggle="modal" data-target=#mymodal
                                style="margin-right: 10%;"> Add New Data</button>

                            {% with messages = get_flashed_messages() %}

                            {%if messages%}

                            {%for message in messages%}

                            <div class="alert alert-success alert-dismissable" role="alert"
                                style="display: inline-block;">
                                <button type="button" class="close" data-dismiss="alert" aria-label="close">

                                    <span aria-hidden="true">x</span>


                                </button>

                                {{message}}

                            </div>



                            {%endfor%}
                            {%endif%}
                            {%endwith%}

                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th>Couple Id </th>
                                    <th>Batch Time </th>





                                    <th>Action</th>
                                </tr>
                                {% for product in coupledetails %}
                                <tr>
                                    <td>{{product.idcouple}}</td>

                                    <td>{{product.couplebatchtime}}</td>



                                    <td>
                                        <a href="/updatecouplebatch/{{product.idcouple}}" class="btn btn-xs" data-toggle="modal"
                                            data-target=#modaledit{{product.idcouple}}><button type="button"
                                                class="btn btn-warning btn-default btn-sm">
                                                <span class="glyphicon glyphicon-pencil"></span> Edit
                                            </button></a>

                                        <a href="/deletecouplebatch/{{product.idcouple}}" class="btn btn-xs"
                                            onclick="return confirm ('Are you sure to delete?')"><button type="button"
                                                class="btn btn-danger btn-default btn-sm">
                                                <span class="glyphicon glyphicon-trash"></span> Delete
                                            </button></a>
                                    </td>
                                </tr>






                        </div>

                    </div>



                    <div id="modaledit{{product.idcouple}}" class="modal fade" role="dialog">

                        <div class="modal-dialog">

                            <div class="modal-content">

                                <div class="modal-header" style="background-color: rgb(19, 139, 162);">

                                    <button type="button btn-danger" class="close" data-dismiss="modal">&times;</button>

                                    <h4 class="modal-title" style="color: whitesmoke;">  Update Data</h4>


                                </div>
                                <div class="modal-body">

                                    <form action="{{url_for('updatecouplebatch')}}" method="POST" enctype="multipart/form-data">


                                         <div class="form-group">

                                            <label>Couple Id:</label>
                                            <input type="text" class="form-control" name="idcouple" value="{{product.idcouple}}" readonly>
                                        </div>




                                          <div class="form-group">

                                            <label>Batch Time</label>
                                            <input type="text" class="form-control" name="couplebatchtime" value="{{product.couplebatchtime}}"  required>
                                        </div>

                                            <button class="btn btn-primary" type="submit">
                                                Update Data
                                            </button>

                                    </form>



                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Close
                                    </button>


                                </div>

                            </div>




                        </div>




                    </div>
                    {%endfor%}
                    </table>

                    <div id="mymodal" class="modal fade" role="dialog">

                        <div class="modal-dialog">

                            <div class="modal-content">

                                <div class="modal-header" style="background-color: rgb(19, 139, 162);">

                                    <button type="button btn-danger" class="close" data-dismiss="modal">&times;</button>

                                    <h4 class="modal-title" style="color: whitesmoke;">  Insert Data</h4>


                                </div>
                                <div class="modal-body">

                                   <form action="{{url_for('insertcouplebatch')}}" method="POST" enctype="multipart/form-data">





                                          <div class="form-group">

                                            <label>Batch Time</label>
                                            <input type="text" class="form-control" name="batchtime" required>
                                        </div>





                                        <div class="form-group">

                                            <button class="btn btn-primary" type="submit">
                                                Insert Data
                                            </button>
                                        </div>

                                    </form>



                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Close
                                    </button>


                                </div>

                            </div>




                        </div>




                    </div>













                </div>



            </div>
        </div>
    </div>
    </div>
  </div>
    {% endblock %}

{% endblock %}



