{% extends "layout.html" %}


{% block style %}
	<!-- style -->
<style type="text/css">
*{
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-style: bold;
	box-sizing: border-box;
	font-family: 'Courier New', sans-serif;
}

body{
    display:flex;
    flex-direction:column;
    /*padding: 3px 200px;*/
    height:300px;
    /*justify-content:center;*/
    /*align-items: center;*/
}

body::before{content: "";
    position: absolute;
    background:url("{{url_for('static',filename='4.jpg')}}") no-repeat center center/cover;
    height: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index:-1;
    /*opacity: 0.89;*/
}

h1{
    color: bisque;
    font-size: 26px;
}

.border{
    text-align: left;
}

</style>
{% endblock %}

{% block content %}

<meta charset="UTF-8"> 
<title> Index </title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </br></br></br></br></br> 
    <div align="center"> 
        <div align="center" class="border"> 
            <div class="header"> 
                <h1 class="word">Hi {{session.username}}!!</h1> 
            </div></br> 
            <h1 class="bottom"> 
                Welcome to the index page... 
            </h1>></br></br> 
                <a href="{{ url_for('logout') }}" class="btn">Logout</a> 
        </div> 
    </div> 

{% endblock %}

