{% extends "layout.html" %}


{% block style %}
	<!-- style -->
<style type="text/css">

*{
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-style: bold;
	box-sizing: border-box;
    font-family: Georgia, serif; 
}

body{
	display:flex;
	flex-direction:column;
	/* padding: 3px 200px; */
	height:300px;
	/* justify-content:center; */
	background-color: black;
	/*align-items: center;*/
	background: linear-gradient(90deg, rgba(255,160,122,1) 0%, rgb(255, 255, 129, 1)65%, rgba(255,160,122,1)100% );
}

</style>
{% endblock %}

{% block content %}

{% endblock %}